/* Fondo */
body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif; /* Aplicar Roboto a todo el texto del cuerpo */
}

/* Estilo Usuario y Computador */
#usuario, #pc {
  font-size: 24px;
  text-transform: uppercase;
}

/* Estilo Resultado */
#resultado {
  font-size: 36px !important; /* Aumentar el tamaño del resultado */
  font-weight: bold !important; /* Negrita */
  color: #007bff; /* Azul */
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

/* Estilo Títulos */
h3 {
  font-weight: normal;
  font-size: 16px; /* Reducir el tamaño de los títulos */
  text-align: center; /* Centrar los títulos */
}

/* Centrar Contenido */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  text-align: center;
  height: 100vh;
}

/* Título */
header {
  margin-top: 20px;
}

/* Contenedor Inicio */
#contenedorInicial {
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
}

/* Agregar espacio entre el input y el botón */
#contenedorInicial input {
  margin-right: 10px; /* Ajusta el valor según el espacio deseado */
}

/* Centrar Juego */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* Botón Volver a Jugar */
.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px; /* Reducir el margen para elevar el botón */
}

/* Título */
header h1 {
  color: #007bff;
}

/* Estilos Íconos */
.icono {
  font-size: 70px; /* Aumentar el tamaño de los íconos */
  cursor: pointer;
  margin: 10px;
  color: #333;
}

.icono:hover {
  color: #007bff;
}

/* Alinear "Tu movimiento" y "Movimiento del Computador" en una línea */
.movimientos-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
}

/* Mantener los íconos centrados en la sección de selección */
#contenedorJuego i {
  display: inline-block;
  margin: 0 10px;
}

/* Mantener el tamaño de los íconos */
#usuario i, #pc i {
  font-size: 48px;
  margin: 10px;
  color: #333;
}

/* Reducir el tamaño y quitar negrita para algunos textos */
#contenedorJuego h3, #contenedorJuego p {
  font-weight: normal;
  font-size: 14px; /* Ajusta según prefieras */
}

/* Centrar "Selecciona tu movimiento", "Resultado" y "Juegos Restantes" */
#contenedorJuego h3 {
  text-align: center; /* Centrar el texto de los títulos */
}

#resultado {
  text-align: center; /* Centrar el texto del resultado */
  font-size: 36px !important; /* Tamaño de letra ligeramente mayor */
  font-weight: bold !important; /* Asegurar que sea en negrita */
  color: #007bff !important; /* Color azul */
}

#juegosRestantes {
  text-align: center; /* Centrar el texto de juegos restantes */
}

/* Asegurar que los íconos en la sección "Tu movimiento" se vean bien */
#usuario i, #pc i {
  font-size: 48px;
  margin: 10px;
  color: #333;
}
